html, body {
    margin: 5px;
    padding: 0;
}


body {
  min-width:  250px; /* your desired width */
  max-width: 100%;
  position: relative;
  vertical-align:middle;
}

p {
font-family: sans-serif;
}



#distance {
    background-color: #ccc;
    padding: 20px
    color: black;
}

#charity_donation {
	background-color: #ccc;
    padding: 20px
}